@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}
